// @import url('https://fonts.googleapis.com/css?family=Josefin+Slab|Raleway');


.icon-Orders:before {
  content: "\e900";
}

@import url('https://fonts.googleapis.com/css?family=Poiret+One|Raleway:400,600,700');


$font-family-text: 'Raleway', sans-serif;
// $font-family-heading: 'Josefin Slab', serif;
$font-family-heading: 'Poiret One', cursive;
