$blue: #164773;
$blue-light: lighten($blue, 30%);
$blue-dark: darken($blue, 10%);

$green: #447046;
$green-light: lighten($blue, 10%);

$purple: #80458E;
$purple-light: lighten($purple, 10%);
$purple-dark: darken($purple, 10%);

$gray: #F3F3F3;
$gray-darker: darken($gray, 20%);
$gray-even-darker: darken($gray, 70%);
$gray-disabled: #636c72;
$gray-darkest: black;


