<div class="sidebar">
  <ul class="nav flex-column">
    <li class="nav-item">

      <a class="nav-link {% if category == 'farmer' %}
        active
      {% endif %}" href="{% url 'organization-farmer-list' %}"><span class="icon-farmers"></span> Farmers</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if category == 'crops' %}
        active
      {% endif %}" href="{% url 'organization-crops-list' %}"><span class="icon-crop"></span> Crops</a>
    </li>
    <li class="nav-item ">
      <a class="nav-link {% if category == 'inventory' %}
        active
      {% endif %}" href="{% url 'organization-inventory' %}"><span class="icon-inventory"></span>  Inventory</a>
    </li>
    <li class="nav-item ">
      <a class="nav-link {% if category == 'orders' %}
        active
      {% endif %}" href="{% url 'organization-orders' %}"><span class="icon-orders"></span> Orders</a>
    </li>
  </ul>
</div>